*{
    box-sizing: border-box;
}
body{
    text-align: center;
    overflow: hidden;
    margin: 0;
}

h3{
    margin-bottom: 0;
    text-align: center;
}
small{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.fa-heart{
    color: red;
}

.loveMe{
    height: 440px;
    width: 300px;
    background:url('https://images.unsplash.com/photo-1694146146629-ba9c215a9956?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNXx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=500&q=60')
    no-repeat center center/cover;
    margin: auto;
    cursor: pointer;
    max-width: 100%;
    position: relative;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px
    rgba(0,0,0,0.22);
}

.loveMe .fa-heart{
    position: absolute;
    animation: grow 0.6s linear;
    transform: translate(-50%, -50%) scale(0);
}

@keyframes grow{
    to{
        transform: translate(-50%, -50%) scale(10);
        opacity: 0;
    }
}